body {
    /* text-align: center; */
    background-color: white;
    /* background-color: ivory; */

    text-align: justify;
    /* font-family: Helvetica; */
    line-height: 1.5;
}

/* Change link colors to black */

a:link, a:visited {
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color:#6e6e0a;
}

p, li, table {
    font-size: larger;
}

.section {
    margin: auto;
    padding: 8em 0em 0em 0em;
    overflow: auto;
    max-width: 1024px;
}

.header {
  text-align: center;	
  background-color: #70ad47;
}

.nopadding {
    padding: 0em;
}

.section h2 {
    /* Box */
    margin-block-start: 0em;
    background-color: #70ad47;

    /* Font */
    font-size: 300%;
    text-align: center;
    color: black;
}

em {
    font-size: 150%;
}

blockquote {
    font-size: 150%;
    font-style: italic;
}

td.right {
    text-align: right;
}

img.interstitial {
    width: 80%;

    /* center */
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* spacing */
    padding-top: 2em;
}

img.right {
    float: right;
    margin-left: 4em;
    margin-bottom: 2em;
}

img.left {
    float: left;
    margin-right: 4em;
    margin-bottom: 2em;
}

.footer {
    /* clear: both; */
    text-align: center;
}

.floatleft {
    float: left;
    margin-left: 1em;

}

@media screen and (max-width: 768px) {
    img {
        margin-bottom: 1em;
    }

    img.left {
        float: right;
        margin-left: 1em;
        margin-right: auto;
    }

    p, li, table {
        font-size: medium;
    }

    .section h2 {
        font-size: large;
    }
}